{% extends "::base.html.twig" %}

{% block title %}About me{% endblock %}
{% block body %}

    <div class="wrapper">
        {{ wo_render_breadcrumbs() }}
    {% for item in items %}
        <div class="title">{{ item.title }}</div>
        <div class="img_float"><img class="img-thumbnail" src="{{ item.image.path | imagine_filter('my_thumb')  }}"></div>
        <div>{{ item.body }}</div>
    {% endfor %}
    </div>
    {% block sidebar %}
        {% include ('GeekhubPostBundle::sidebar.html.twig') %}
    {% endblock sidebar %}
{% endblock body %}
